apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: dtms-data
  namespace: iamakamen-dev
spec:
  storageClassName: efs-sc
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: 1Gi
