apiVersion: apps/v1
kind: Deployment
metadata:
  name: dtms-zookeeper
  labels:
    app: dtms-zookeeper
spec:
  replicas: 1
  selector:
    matchLabels:
      app: dtms-zookeeper
  template:
    metadata:
      labels:
        app: dtms-zookeeper
    spec:
      containers:
        - name: zookeeper
          image: confluentinc/cp-zookeeper:7.5.0
          env:
            - name: ZOOKEEPER_CLIENT_PORT
              value: "2181"
            - name: ZOOKEEPER_TICK_TIME
              value: "2000"
          ports:
            - containerPort: 2181
          resources:
            requests:
              cpu: "200m"
              memory: "256Mi"
            limits:
              cpu: "500m"
              memory: "512Mi"
