apiVersion: v1
kind: Service
metadata:
  name: pushgateway
  labels:
    app: dtms-pushgateway
spec:
  selector:
    app: dtms-pushgateway
  ports:
    - name: http
      port: 9091
      targetPort: 9091
  type: ClusterIP
