apiVersion: v1
kind: Service
metadata:
  name: zookeeper
  labels:
    app: dtms-zookeeper
spec:
  selector:
    app: dtms-zookeeper
  ports:
    - name: client
      port: 2181
      targetPort: 2181
  type: ClusterIP
